// This holds all the colors used in the application, currently all colors are sequential shades
// of gray

:root {
  --header-bg-color: #aaa;
  --sidebar-bg-color: #bbb;
  --content-bg-color: #ccc;
  --letter-card-bg-color: #ddd;
  --letter-card-3n-bg-color: #eee;
}
